$breakpoint-micro: 420px;
$breakpoint-small: 520px;
$breakpoint-mobile: 767px;

@mixin budget-calculator {
  
    .Headline {
        border-top: 8px solid;
        margin-top: .5rem;
        color: #1D1D1B;
        font-size: 2.8rem;
        line-height: 3.2rem;
        font-family: TimesModern-Bold;
        padding-top: .5rem;
    }
    .Standfirst {
        margin-top: .5rem;
        color: #4A4A4A;
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-family: TimesDigital-Regular;
        margin-bottom: 1em;
    }


    .Button {
        margin: 0;
        margin-top: 2rem;
        padding: 1rem 0.9rem 1.1rem;
        font-family: 'GillSansMTStd-Medium';
        background-color: #046798;
        color: #fff !important;
        text-transform: uppercase;
        line-height: 2rem;
        font-size: 1.2rem;
        height: 36px;
        width: 90px;
        margin-left: -5px;
        border: 0;
        box-shadow: none;

        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        @media only screen and (max-width: $breakpoint-mobile) {
            width: 30%;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-border-radius:0;
            border-radius:0;
        }

        &:hover {
            background-color: #02344d;
            box-shadow: none;
        }
    }

    .error {
        font-family: 'TimesDigitalW04-RegularSC';
        font-size: 1.4rem;
        color: #CC0000;
        text-transform: lowercase;
    }

    #form {
        display: block;

        input {
            margin: 0;
            padding-top: 2rem;
            color: #333;
            font-size: 1.6rem;
            font-family: 'GillSansMTStd-Medium';
            vertical-align: top;
            appearance: none;
            border: 1px solid #dbdbdb;
            line-height: 1.8rem;
            outline: none;
            height: 36px;
            color: #7d7d7d;
            text-transform: uppercase;
            appearance: none;

            &.Button {
                padding-top: 1rem;
                margin-top: 2rem;
            }

            &::placeholder {
                text-transform: none;
            }

            @media only screen and (max-width: $breakpoint-mobile) {
                width: 70%;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -webkit-border-radius:0;
            }
        }
        #incomeInput {
            padding: 0.8rem 0.8rem 0.3rem;
            margin-bottom: 1rem;
        }

        input, select {
            width: 100%;
        }

        #dropdownSection {
            display: none;

            &.visible {
                display: block;
            }
        }

        .inline-radio {
            display: flex;
            overflow: hidden;
            border: 1px solid #ddd;
            margin: {
                bottom: 1rem;
            }

            div {
                position: relative;
                flex: 1;
                padding: 0.8rem 0.8rem 0.3rem;
            }

            input {
                width: 100%;
                height: 25px;
                opacity: 0;

                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            label {
                position: absolute;
                top: 0; left: 0;
                color: #ddd;
                width: 100%;
                height: 100%;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
                border-right: 1px solid #ddd;
            }

            div:last-child label {
                border-right: 0;
            }

            input:checked + label {
                background: #254251;
                font-weight: 500;
                color: #fff;
                -webkit-transition: all 0.50s;
                -moz-transition: all 0.50s;
                -o-transition: all 0.50s;
                transition: all 0.50s;
            }
        }

        select {
            border: 1px solid #ccc;
            width: 100%;
            overflow: hidden;
            height: 30px;
        }
    }

    #app-info {
        display: none;
        margin-top: 1rem;

        &.visible {
            display: block;
        }

        .row {
            display: flex;
            flex-direction: row;

            .col {
                flex-direction: column;
                width: 100%;
                margin-top: 1.5rem;
            }
        }

        .label {
            font-family: 'GillSansMTStd-Medium';
            font-size: 1.5rem;
            text-align: left;
            color: #333;
            display: flex;
            flex-direction: column;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .big {
            font-family: TimesModern-Bold;
            font-size: 6.5rem;
            line-height: 1.22;
            color: #069;
            margin-top: -.1em;
            margin-bottom: -.15em;

            &.mid {
                font-size: 3.5rem;
            }
        }
    }
}


budget-calculator {
  @include budget-calculator;
}
:host {
  @include budget-calculator;
}
